.button {
  display: inline-block;
  padding: 0.7em 1em;
  background-color: var(--color-background-light);
  color: var(--color-tertiary);
  border-radius: 0.5em;
  position: relative;
  border: 2px solid transparent;
  transition: border 250ms;

  &.nuxt-link-exact-active {
    background-color: var(--color-background-lighter);
  }

  &::before {
    border-radius: 0.5em;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: box-shadow 150ms;
    z-index: -1;
  }

  &:hover,
  &:focus {
    border: 2px solid var(--color-secondary);
    outline: none;

    &.button-glow {
      &::before {
        box-shadow: 0 0.3px 2.2px rgba(126, 198, 249, 0.067),
          0 0.7px 5.3px rgba(126, 198, 249, 0.097),
          0 1.3px 10px rgba(126, 198, 249, 0.12),
          0 2.2px 17.9px rgba(126, 198, 249, 0.143),
          0 4.2px 33.4px rgba(126, 198, 249, 0.173),
          0 10px 80px rgba(126, 198, 249, 0.24);
      }
    }
  }
}
