:root {
  --color-foreground: #E3F2F4;
  --color-primary: #155BA2;
  --color-secondary: #5199CD;
  --color-tertiary: #7ec6f9;
  --color-accent: #533CA6;
  --color-accent-light: #D989D3;
  --color-background: #050E17;
  --color-background-light: #0c253e;
  --color-background-lighter: #143353;
}
