@import "@fontsource/nunito-sans/index.css";

:root {
  font-size: 1.1em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6em;
  scroll-behavior: smooth;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

html {
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
